{{> nav-bar}}
<h1>Individual plan</h1>
<!-- Banner will be the first activity img -->
<!-- Add options to choose the img from the activities added-->
{{plan.creator}}
{{plan.title}}<br>
{{plan.description}}<br>
{{plan.eventStart}}<br>
{{plan.eventEnd}}

<br><br><br>

<a href="/myPlans/{{plan._id}}/invite">Invite fiends</a>

<br><br><br>

<a href="/myPlans/{{plan._id}}/activities">Plan Activities</a>

<br><br><br>
<h2>Trip photos</h2>
<a href="/myPlans/{{plan._id}}/photos">Add photo</a>